<div class="metabar metabar--top metabar--white metabar--bordered u-clearfix">
  <div class="metabar-block metabar-left u-alignLeft"></div>
  <div class="metabar-block metabar-center">logo</div>
  <div class="metabar-block metabar-right u-alignRight">
    <nav class="menuWrapper">
      <ul class="popover popover--menu">
        <li class="menu-avatar">
          <a href="#" class="">Vincent</a>
        </li>
        <ul class="list list--avatarMenu">
        	<li class="list-item"><a href="">Twitter</a></li>
        	<li class="list-item"><a href="">LinkedIn</a></li>
        	<li class="list-item"><a href="">Quora</a></li>
        	<li class="list-item"><a href="">Dribbble</a></li>
        	<li class="list-item"><a href="">Kiva</a></li>
        </ul>
      </ul>
    </nav>
    </div>
</div>

http://codepen.io/philhoyt/pen/ujHzd