---
layout: default
title: About Vincent Chan
---
<article class="postWrapper">
  <section class="section--first is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient section-gradient--darker"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Vincent Chan</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              a lifelong learner
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>An ex-banking analyst turned entrepreneur, who is hugely influenced by the book “Built to Last“. Vincent is the co-founder of Primitus. He left his job at Citigroup to pursue success on his own terms. He is passionate about changing the world through great Internet products. His dream is to build Primitus into a lasting company and the first truly global brand in China, one customer at a time. Vincent graduated from UCLA in 2007 with a degree in Economics.</p>
        <h4>Philosophy</h4>
        <p>Anything the human mind can believe, the human mind can achieve.</p>
        <h4>Dreams</h4>
        <ul>
        <li>Building a global brand which can represent my country</li>
        <li>Building a lasting company</li>
        <li>Building a company not only selling products but also dreams</li>
        <li>Help youngsters to make their dreams come true</li>
        </ul>
        <h4>Role Models</h4>
        <p>
          Al Gore, Bill Campbell, Bill Gates, Bill Gross, Charlie Munger, Dietrich Mateschitz, Frederick W. Smith, Howard Schultz, Jim Collins, Sheryl Sandberg, Steve Jobs, Warren Buffett, Cher Wang, Masayoshi Son, Tadashi Yanai, Reid Hoffman, Peter Thiel, Paul Graham, Seth Godin, Steve Blank, Eric Ries, Jeff Bezos, Walt Disney.
        </p>
        <h4>Favorite Companies</h4>
        <p>
          Apple, Berkshire Hathaway, Disney, FedEx, Google, HTC, IKEA, Intuit, Kleenex, Procter & Gamble, Red Bull, Sony, Starbucks, Toyota, Github, Pixar.
        </p>
        <h4>Favorite Brands</h4>
        <p>
          37signals, Apple, Canon, Coca-Cola, Disney, innocent drinks, Lexus, LittleMissMatched, Mercedes-Benz, Nike, Muji, Patagonia.
        </p>

      </div>
    </div>
  </section>
</article>
        <hr/>
{% include subscribe.html %}
{% include footer.html %}
